// prefix
$prefix: 'xu' !default;

// colors
$blue: blue !default; // @fixme temporary
$green: green !default; // @fixme temporary
$red: red !default; // @fixme temporary

$black: #000 !default;
$white: #fff !default;

$primary: #345bd9 !default;
$primary-v50: #e9ecfb !default;
$primary-v100: #c7cef4 !default;
$primary-v200: #a1afed !default;
$primary-v300: #798fe5 !default;
$primary-v400: #5875df !default;
$primary-v600: #2e53ce !default;
$primary-v700: #2248c1 !default;
$primary-v800: #163db6 !default;
$primary-v900: #002aa2 !default;

$secondary: #bb2159 !default;
$secondary-v50: #fbe4ec !default;
$secondary-v100: #f6bbcf !default;
$secondary-v200: #f08faf !default;
$secondary-v300: #eb6390 !default;
$secondary-v400: #e64478 !default;
$secondary-v500: #e22762 !default;
$secondary-v800: #a61d55 !default;
$secondary-v900: #81174c !default;
$secondary-v600: #d1245f !default;

$gray-v50: #fafafa !default;
$gray-v100: #f5f5f5 !default;
$gray-v200: #eeeeee !default;
$gray-v300: #e0e0e0 !default;
$gray-v400: #bdbdbd !default;
$gray-v500: #9e9e9e !default;
$gray-v600: #757575 !default;
$gray-v700: #616161 !default;
$gray-v800: #424242 !default;
$gray-v900: #212121 !default;

$dark: $gray-v800 !default;
$light: $gray-v100 !default;

$info: #40aebf !default;
$danger: #dd1126 !default;

$black-38: rgba(0, 0, 0, .38);
$black-87: rgba(0, 0, 0, .87);

$theme-colors: (
  'primary':    $primary,
  'secondary':  $secondary,
  'info':       $info,
  'danger':     $danger,
  'light':      $light,
  'dark':       $dark
);

// Grid breakpoints
//
// Define the minimum dimensions at which your layout will change,
// adapting to different screen sizes, for use in media queries.

$grid-breakpoints: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$grid-breakpoints: map-merge(
  (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px
  ),
  $grid-breakpoints
);

@include _assert-ascending($grid-breakpoints, "$grid-breakpoints");
@include _assert-starts-at-zero($grid-breakpoints);


// Grid containers
//
// Define the maximum width of `.container` for different screen sizes.

$container-max-widths: () !default;
// stylelint-disable-next-line scss/dollar-variable-default
$container-max-widths: map-merge(
  (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1140px
  ),
  $container-max-widths
);

@include _assert-ascending($container-max-widths, "$container-max-widths");


// Grid columns
//
// Set the number of columns and specify the width of the gutters.

$grid-columns:                12 !default;
$grid-gutter-width:           24px !default;

$text-color-dark: color-mask(.87);
$text-color-light: #FFF;
$text-color: $text-color-dark !default;
