// prefix
$prefix: 'xu' !default;

// colors
$black: #000 !default;
$white: #fff !default;
$blue: blue !default;
$green: green !default;
$red: red !default;

$primary: $blue !default;
$secondary: $green !default;
$danger: $red !default;
$info: $black !default;
$light: $black !default;
$dark: $black !default;
